<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
    {% if user.is_authenticated %}
    <title>{{ user.get_username_text }} • Gold Medal Statistics</title>
    {% else %}
    <title>Login</title>
    {% endif %}

   <!-- loads static files (files used to render webpage) -->
   {% load static %}

   <link rel="stylesheet" href="{% static 'accts/style.css' %}">
   <link rel="icon" href="{% static 'gms/favicon.ico' %}">
</head>

<body>
   <!-- adds the navbar into the webpage -->
   {% include 'accts/navbar.html' %}

   {% block main %}
   {% endblock %}

   <!-- adds the footer into the webpage -->
   {% include 'accts/footer.html' %}
</body>

</html>