/* custom fonts */
@font-face {
   font-family: "Metropolis SemiBold";
   src: local("Metropolis-SemiBold"),
      url("../gms/Metropolis-SemiBold.otf") format("opentype");
}

@font-face {
   font-family: "Metropolis Bold";
   src: local("Metropolis-Bold"),
      url("../gms/Metropolis-Bold.otf") format("opentype");
}

@font-face {
   font-family: "Montserrat Regular";
   src: local("Montserrat-Regular"),
      url("../gms/Montserrat-Regular.ttf") format("truetype");
}

/* whole website */
body {
   background-color: #212529;
   color: white;
   font-family: "Montserrat Regular";
}

/* navbar */
/* find way to center text automatically */
nav ul {
   font-family: "Metropolis Bold";
   list-style: none;
   margin: auto;
   font-size: 25px;
   padding: 12px;
   display: flex;
   justify-content: space-around;
   vertical-align: middle;
}

a {
   color: white;
   text-decoration: none;
   padding-bottom: 8px;
}

/* fade in indicator line animation */
li {
   display: inline-block;
   position: relative;
   padding-bottom: 8px;
}

li:after {
   position: absolute;
   top: 33px;
   content: "";
   display: block;
   margin-bottom: 8px;
   height: 4px;
   width: 0px;
   background: transparent;
   transition: width 0.5s ease, background-color 0.5s ease;
}

li:hover:after {
   width: 100%;
   background: #cc9a06;
}

.active {
   padding-bottom: 8px;
   border-bottom: 4px solid #cc9a06;
}

/* find way to make logo responsive */
#logo {
   height: auto;
   max-width: 150px;
   float: left;
   padding: 0 5px 10px 20px;
   vertical-align: middle;
}

.navbar {
   clear: both;
   overflow: auto;
   align-items: center;
   margin: 18px 10px 5px;
}

/* scores */
table {
   display: block;
   table-layout: fixed;
   border-collapse: collapse;
   padding: 10px;
   font-family: "Metropolis SemiBold";
   font-size: 23px;
   margin-left: 10px;
   height: 55vh;
}

thead {
   display: block;
}

tbody {
   display: block;
   overflow: auto;
   width: 87.5%;
   height: 100%;
}

th {
   background-color: white;
   border: 2px solid;
   padding: 10px;
   color: #212529;
   text-align: center;
}

td {
   border: 0px;
   text-align: left;
   padding: 10px;
   border: transparent 2px solid;
   margin-left: 10px;
}

h1 {
   font-family: "Metropolis SemiBold";
   font-size: 30px;
   margin-left: 20px;
}

p {
   font-size: 20px;
}

.name {
   width: 19vw;
}

.gender {
   width: 8vw;
}

.team {
   width: 22vw;
}

.normal {
   width: 8vw;
}

/* new_entry */
fieldset {
   background-color: #cc9a06;
   border: 0px;
   display: flex;
   justify-content: space-around;
   padding: 12px 0;
   margin: auto;
   width: 97%;
}

input {
   font-family: "Metropolis Bold";
   font-size: 23px;
}

.button {
   font-family: "Metropolis Bold";
   border: none;
   padding: 5px 25px;
   font-size: 20px;
   color: #212529;
   background-color: #cc9a06;
   text-align: center;
}

.button:hover {
   color: white;
   transition: 0.3s;
}

.submit-container {
   text-align: center;
}

.new-entry-container {
   text-align: right;
   margin-top: -3.5vh;
   margin-right: 1.48vw;
}

#name {
   width: 19vw;
}

#gender {
   width: 8vw;
}

#event,
#mark {
   width: 12vw;
}

/* gender_nav */
.gender-nav {
   clear: left;
   overflow: auto;
   align-items: center;
   width: 45%;
   margin: 20px 0px 0px 0px;
}

/* stats */
.stats-name {
   font-family: "Metropolis Bold";
   font-size: 25px;
   color: #212529;
}

.blank {
   font-size: 22px;
   padding: 15px 10px 15px 30px;
   background-color: none;
   width: 40vw;
}

.table-spacing {
   border-collapse: separate;
   border-spacing: 0 20px;
   padding: 0px;
}

.scroll {
   overflow: auto;
   width: 53.5vw;
   height: 70vh;
}

/* vertical indicator line */
.container {
   padding: 15px 10px 15px 30px;
   background-color: white;
   width: 40vw;
}

.container:hover {
   left: 0.5vw;
   transition: left 0.5s ease;
}

.indicator {
   padding: 0;
   width: 0.1vw;
}

.revealed {
   background-color: #cc9a06;
}

.hidden {
   background-color: transparent;
}

.v-active {
   position: relative;
   left: 0.5vw;
   width: 40vw;
}

.not-active {
   position: relative;
   right: 0.5vw;
   width: 40vw;
}

/* athlete profile */
.frame {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 4vh 1fr 1fr 4vh 1fr 1fr 4vh;
   position: absolute;
   left: 59vw;
   bottom: 8vh;
   width: 38vw;
   height: 75vh;
}

.active-frame {
   border: 4px solid #fff;
   text-align: center;
   justify-content: center;
}

.blank-frame {
   border: none;
}

.bold-blank {
   font-family: "Montserrat Regular";
   font-size: 25px;
   color: white;
   text-align: center;
   justify-content: center;
   align-items: center;
   grid-column: 1 / span 3;
   grid-row: 3 / span 2;
}

h2 {
   font-family: "Metropolis SemiBold";
   font-size: 40px;
   color: #cc9a06;
   text-align: center;
}

h3 {
   font-family: "Montserrat Regular";
   font-size: 20px;
   color: white;
   text-align: left;
   justify-content: left;
   align-items: center;
}

.personal {
   grid-column: 1 / span 3;
   grid-row: 1;
   text-align: center;
}

.title {
   margin: 15px auto 5px auto;
}

.team {
   margin: 5px auto;
}

.image {
   grid-column: 1 / span 3;
   grid-row: 3 / span 2;
   place-self: center;
}

.men {
   max-height: 200px;
   max-width: 159px;
   height: auto;
   width: auto;
}

.women {
   max-height: 235px;
   max-width: 235px;
   height: auto;
   width: auto;
}

.info {
   grid-column: 1 / span 3;
   grid-row: 6 / span 2;
   padding: 0px 15px;
   text-align: left;
   font-size: 21px;
   align-content: start;
}

.item {
   font-family: "Metropolis SemiBold";
   font-size: 25px;
   margin: 15px;
}
