<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>Home • Gold Medal Statistics</title>

   <!-- loads static files (files used to render webpage) -->
   {% load static %}

   <link rel="icon" href="{% static 'gms/favicon.ico' %}">
   <link rel="stylesheet" href="{% static 'gms/style.css' %}">
</head>

<body>

   <!-- adds the navbar into the webpage -->
   {% include 'gms/navbar.html' %}

   <div class="display">
      <div class="welcome">
         <img src="{% static 'gms/home_wordmark.png' %}" class="wordmark">
         <h2 class="hook">The next level of progress<br>tracking has arrived.</h2>
      </div>
      <img src="{% static 'gms/showcase.png' %}" class="showcase">
   </div>
</body>

</html>