<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>Scores • Gold Medal Statistics</title>

   <!-- loads static files (files used to render webpage) -->
   {% load static %}

   <link rel="icon" href="{% static 'gms/favicon.ico' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'gms/style.css' %}">

</head>

<body>
   <!-- adds the navbar into the webpage -->
   {% include 'gms/navbar.html' %}

   {% if points_error_message %}
   <p class="error"><strong>{{ points_error_message }}</strong></p>
   {% elif grade_error_message %}
   <p class="error"><strong>{{ grade_error_message }}</strong></p>
   {% elif gender_error_message %}
   <p class="error"><strong>{{ gender_error_message }}</strong></p>
   {% elif event_error_message %}
   <p class="error"><strong>{{ event_error_message }}</strong></p>
   {% elif mark_error_message %}
   <p class="error"><strong>{{ mark_error_message }}</strong></p>
   {% endif %}

   <!-- adds the new entry part into the webpage -->
   {% include 'gms/new_entry.html' %}

   <h1 class="leaderboard">LEADERBOARD</h1>
   {% if leaderboard %}
   <table>
      <thead>
         <tr>
            <th class="name">ATHLETE</th>
            <th class="small">GENDER</th>
            <th class="small">GRADE</th>
            <th class="team">TEAM</th>
            <th class="normal">EVENT</th>
            <th class="normal">MARK</th>
            <th class="normal">POINTS</th>
            <th class="options">OPTIONS</th>
         </tr>
      </thead>
      <tbody>
         {% for entry in leaderboard %}
         <tr>
            <td class="name">{{ entry.get_name_text }}</td>
            <td class="small">{{ entry.get_gender_text }}</td>
            <td class="small">{{ entry.get_grade_text }}</td>
            <td class="team">{{ entry.get_team_text}}</td>
            <td class="normal">{{ entry.get_event_text }}</td>
            {% if entry.event == "HJ" or entry.event == "PV" or entry.event == "LJ" or entry.event == "TJ" %}
            <td class="normal">{{ entry.get_jt_mark_text }}</td>
            {% else %}
            <td class="normal">{{ entry.get_sd_mark_text }}</td>
            {% endif %}
            <td class="points">{{ entry.get_points_text }}</td>
            <td class="options">
               <a href="edit/{{ forloop.counter0 }}" title="Edit this mark">{% include 'gms/edit.html' %}</a>
               <a href="delete/{{ forloop.counter0 }}" title="Delete this mark">{% include 'gms/delete.html' %}</a></td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   {% else %}
   <table>
      <tr>
         <td class="ignore-spacing">No entries are available.</td>
      </tr>
   </table>
   {% endif %}

   <!-- adds the footer into the webpage -->
   {% include 'gms/footer.html' %}
</body>

</html>