<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>{{ athlete.get_name_text }} • Gold Medal Statistics</title>

   <!-- loads static files (files used to render webpage) -->
   {% load static %}

   <link rel="icon" href="{% static 'gms/favicon.ico' %}">
   <link rel="stylesheet" href="{% static 'gms/style.css' %}">
</head>

<body>
   <!-- adds the navbar into the webpage -->
   {% include 'gms/navbar.html' %}

   <!-- adds the gender navbar into the webpage -->
   {% include 'gms/gender_nav.html' %}

   {% if women_list %}
   <div class="scroll">
      <table class="table-spacing">
         {% for athlete in women_list %}
         {% if title == athlete.get_name_text %}
         <tr>
            <td class="indicator revealed"></td>
            <td class="container v-active"><a href="{% url 'gms:women_profile' athlete.get_name_text %}"
                  class="stats-name">
                  {{ athlete.get_name_text }}</a></td>
         </tr>
         {% else %}
         <tr>
            <td class="indicator hidden"></td>
            <td class="container not-active"><a href="{% url 'gms:women_profile' athlete.get_name_text %}"
                  class="stats-name">
                  {{ athlete.get_name_text }}</a></td>
         </tr>
         {% endif %}
         {% endfor %}
      </table>
   </div>
   {% else %}
   <table>
      <tr>
         <td class="blank">No entries are available.</td>
      </tr>
   </table>
   {% endif %}
   <div class="frame active-frame">
      <div class="personal">
         <h2 class="title">{{ athlete.get_name_text }}</h2>
         <p class="subtitle">{{ grade }}, {{ athlete.get_team_text }}</p>
      </div>
      <p class="image"><img src="{% static 'gms/women_placeholder.png' %}" class="women"></p>
      <div class="info">
         {% if athlete.one_points > 0 %}
         <p class="item">{{ athlete.get_one_pr }}</p>
         {% endif %}
         {% if athlete.two_points > 0 %}
         <p class="item">{{ athlete.get_two_pr }}</p>
         {% endif %}
         {% if athlete.four_points > 0 %}
         <p class="item">{{ athlete.get_four_pr }}</p>
         {% endif %}
         {% if athlete.eight_points > 0 %}
         <p class="item">{{ athlete.get_eight_pr }}</p>
         {% endif %}
         {% if athlete.sixteen_points > 0 %}
         <p class="item">{{ athlete.get_sixteen_pr }}</p>
         {% endif %}
         {% if athlete.thirtytwo_points > 0 %}
         <p class="item">{{ athlete.get_thirtytwo_pr }}</p>
         {% endif %}
         {% if athlete.one_h_points > 0 %}
         <p class="item">{{ athlete.get_one_h_pr }}</p>
         {% endif %}
         {% if athlete.four_h_points > 0 %}
         <p class="item">{{ athlete.get_four_h_pr }}</p>
         {% endif %}
         {% if athlete.one_r_points > 0 %}
         <p class="item">{{ athlete.get_one_r_pr }}</p>
         {% endif %}
         {% if athlete.four_r_points > 0 %}
         <p class="item">{{ athlete.get_four_r_pr }}</p>
         {% endif %}
         {% if athlete.hj_points > 0 %}
         <p class="item">{{ athlete.get_hj_pr }}</p>
         {% endif %}
         {% if athlete.pv_points > 0 %}
         <p class="item">{{ athlete.get_pv_pr }}</p>
         {% endif %}
         {% if athlete.lj_points > 0 %}
         <p class="item">{{ athlete.get_lj_pr }}</p>
         {% endif %}
         {% if athlete.tj_points > 0 %}
         <p class="item">{{ athlete.get_tj_pr }}</p>
         {% endif %}
         {% if athlete.sp_points > 0 %}
         <p class="item">{{ athlete.get_sp_pr }}</p>
         {% endif %}
         {% if athlete.dt_points > 0 %}
         <p class="item">{{ athlete.get_dt_pr }}</p>
         {% endif %}
      </div>
   </div>
</body>

</html>