{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="container">
   <div class="cp-content">
      <h1 class="header">Change your password</h1>
      {% if diff_pass %}
      <h3 class="tl-error">The new passwords do not match, please try again.</h3>
      {% endif %}
      <form action="{% url 'accts:password_change' %}" method="post">
         {% csrf_token %}
         <input type="password" id="new_password" name="new_password" maxlength="30" placeholder="New Password"
            required><br>
         <input type="password" id="confirm_new" name="confirm_new" maxlength="30" placeholder="Confirm New Password"
            required><br>
         <div class="submit-container">
            <input class="button change-but" type="submit" value="Change">
         </div>
      </form>
      <h3><a href="{% url 'accts:profile' user.get_username_text %}">Cancel</a></h3>
   </div>
</div>
{% endblock %}