{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block main %}
<div class="profile-container">
   <div class="personal">
      <h2 class="title">{{ user.get_username_text }}</h2>
   </div>
   <p class="image"><img src="{% static 'accts/profile_placeholder.png' %}" class="placeholder"></p>
   <div class="info">
      <p class="item">Last active on __/__/____</p>
      {% if num_athletes == 1 %}
      <p class="item">1 athlete</p>
      {% else %}
      <p class="item">{{ num_athletes }} athletes</p>
      {% endif %}
      {% if num_marks == 1 %}
      <p class="item">1 leaderboard entry</p>
      {% else %}
      <p class="item">{{ num_marks }} leaderboard entries</p>
      {% endif %}
   </div>
   <div class="settings">
      <h3><a href="{% url 'accts:password_change' %}">Change your password</a></h3>
      <h3><a href="{% url 'accts:logout' %}">Log out</a></h3>
   </div>
</div>
{% endblock %}