<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>stats</title>

   <!-- loads static files (files used to render webpage) -->
   {% load static %}

   <link rel="icon" href="{% static 'gms/favicon.ico' %}">
</head>

<body>
   <link rel="stylesheet" href="{% static 'gms/style.css' %}">

   <!-- adds the navbar into the webpage -->
   {% include 'gms/navbar.html' %}

   <!-- adds the gender navbar into the webpage -->
   {% include 'gms/gender_nav.html' %}

   {% if men_list %}
   <table>
      {% for athlete in men_list %}
      <tr>
         <td class="container"><a href="{% url 'gms:men_profile' athlete.get_name_text %}" class="name">
               {{ athlete.get_name_text }}</a></td>
      </tr>
      {% endfor %}
   </table>
   {% else %}
   <table>
      <tr>
         <td class="blank">No entries are available.</td>
      </tr>
   </table>
   {% endif %}
   <p class="blank-frame bold-blank">Click on an athlete's name to<br>get their
      best marks.</p>
</body>

</html>