<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>women</title>

   <!-- loads static files (files used to render webpage) -->
   {% load static %}

   <link rel="icon" href="{% static 'gms/favicon.ico' %}">
</head>

<body>
   <link rel="stylesheet" href="{% static 'gms/style.css' %}">

   <!-- adds the navbar into the webpage -->
   {% include 'gms/navbar.html' %}

   <!-- adds the gender navbar into the webpage -->
   {% include 'gms/gender_nav.html' %}

   {% if women_list %}
   <div class="scroll">
      <table class="table-spacing">
         {% for athlete in women_list %}
         <tr>
            <td class="container"><a href="{% url 'gms:women_profile' athlete.get_name_text %}" class="stats-name">
                  {{ athlete.get_name_text }}</a></td>
         </tr>
         {% endfor %}
      </table>
   </div>
   {% else %}
   <table class="table-spacing">
      <tr>
         <td class="blank">No entries are available.</td>
      </tr>
   </table>
   {% endif %}
   {% if page == "women" %}
   <div class="frame blank-frame">
      <p class=" bold-blank">Click on an athlete's name to<br>get their
         best marks.</p>
   </div>
   {% else %}
   <div class="frame active-frame">
      <h2 class="title">{{ athlete.get_name_text }}</h2>
      <p class="image">Insert image here.</p>
      <p class="info">Insert info here.</p>
   </div>
   {% endif %}
</body>

</html>