{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="container">
   <div class="lgi-content">
      <h1 class="header">Log into your account</h1>
      {% if incorrect %}
      <h3 class="ol-error">Username or password is incorrect, please try again.</h3>
      {% endif %}
      <form action="{% url 'accts:login' %}" method="post">
         {% csrf_token %}
         <input type="text" id="username" name="username" maxlength="30" placeholder="Username" required><br>
         <input type="password" id="password" name="password" maxlength="30" placeholder="Password" required><br>
         <div class="submit-container">
            <input class="button" type="submit" value="Log in">
         </div>
      </form>
      <h3><a href="{% url 'accts:password_reset' %}">Forgot password?</a></h3>
      <h3><a href="{% url 'accts:signup' %}">Create an account</a></h3>
   </div>
</div>
{% endblock %}