{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="container">
   <div class="rp-content">
      <h1 class="header">Reset your password</h1>
      <form action="{% url 'accts:login' %}" method="post">
         {% csrf_token %}
         <input type="password" id="password" name="password" maxlength="30" placeholder="Password" required><br>
         <input type="password" id="confirm" name="confirm" maxlength="30" placeholder="Confirm Password" required><br>
         <div class="submit-container">
            <input class="button" type="submit" value="Reset">
         </div>
      </form>
      <h3><a href="{% url 'accts:login' %}">Cancel</a></h3>
   </div>
</div>
{% endblock %}